
tesi.run.xml
tesi-blx.bib
thesis.aux
app_a.aux
chap_qua.aux
chap_qui.aux
chap_quo.aux
thesis-blx.bib
thesis.bbl
thesis.blg
thesis.fdb_latexmk
thesis.fls
thesis.lof
thesis.log
thesis.lol
thesis.lot
thesis.out
thesis.run.xml
thesis.synctex.gz
thesis.toc
